<div class="row">
  <div class="col-md-6">
    <% if @product.image.present? %>
      <%= image_tag(@product.image.medium.url, class: "thumbnail") %>
    <% else %>
      <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
    <% end %>
  </div>
  <div class="col-md-5 panel panel-primary">
    <div class="panel-heading text-center" id="ptitle"><h2> <%= @product.title %> </h2>
    </div>
    <div id="ppanel">High quantity is guarantee</div>
    
    <div class="panel-body" style="height:200px;">
      <p>
        <%= @product.description %>
      </p>
    </div>
    
    <div class="product-quantity"> Quantity : 
    <i><%= @product.quantity %> </i>
    </div>
    <div class="product-price"> $ <%= @product.price %> </div>
    <div class="pull-right">
      <% if @product.quantity > 0 %>
      <%= link_to("Add into Cart", add_to_cart_product_path(@product), :method => :post, :class => "btn btn-primary btn-lg btn-danger") %>
      <% else %>
       Sorry we are currently out of it
      <% end %>
    </div>
  </div>
</div>


<script> 
$(document).ready(function(){
  $("#ptitle").mouseenter(function(){
    $("#ppanel").slideToggle("slow");
  });
});
</script>
<style> 
#ppanel {
  padding: 5px;
  text-align: center;
  background-color: #e5eecc;
  border: solid 1px #c3c3c3;
}

#ppanel {
  padding: 5px;
  display: none;
  color:red;
}
</style>